<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>狀態</title>
    <link rel="stylesheet" href="/css/delivery.css">
</head>
<body>
    <header>
        <a href="#" class="back-button">返回</a>
        <h1>訂單</h1>
        <div class="profile">
            <img src="profile-placeholder.png" alt="Profile Picture">
            <span>name</span>
        </div>
    </header>

    <nav class="sidebar">
        <a href="#status">狀態</a>
        <a href="#orders">訂單</a>
        <a href="#completed-orders">已完成訂單</a>
    </nav>
    <div class="status-page">
            <p> <span id="current-status">未上線</span></p>
    </div>
    <main class="content">
        <div class="orders">
            <table>
                <tr>
                    <th>餐廳</th>
                    <th>操作</th>
                </tr>
                {% for rec in data %}
                <tr>
                    <td>{{ rec.item_name }}</td> <!-- 麥當勞 -->
                    <td><button><a href="/bid/{{ rec.auction_id }}">詳情</a></button></td>  <!-- 詳情 -->
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="online" onclick="online()" >上線</div>
    </main>

</body>
</html>
