<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>狀態</title>
    <link rel="stylesheet" href="/css/delivery.css">
    <link rel="stylesheet" href="/css/stateUI.css">
</head>
<body>
    <header>
        <a href="#" class="back-button">返回</a>
        <h1>狀態</h1>
        <div class="profile">
            <img src="profile-placeholder.png" alt="Profile Picture">
            <span>name</span>
        </div>
    </header>

    <nav class="sidebar">
        <a href="#status">狀態</a>
        <a href="#orders">訂單</a>
        <a href="#completed-orders">已完成訂單</a>
    </nav>

    <main class="content">
        <div class="status-page">
            <p> <span id="current-status">未上線</span></p>
        </div>
        <div class="online" onclick="online()" >上線</div>
    </main>

    <script>
        function online() {
            const status = document.getElementById('current-status');
            status.textContent = '上線';

            const timeSlots =document.querySelectorAll('.time-slot');
            timeSlots.forEach(slot => classList.remove('active'));
        }

        
    </script>
</body>
</html>
