body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between; /*中間分開*/
    align-items: center;
    text-align: center;
    background-color: #f8f8f8;
    padding: 0px 20px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header.back-button{
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

header.back-button:hover{
    text-decoration: underline;
}

header .profile {
    display: flex;
    align-items: center;
}

header .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 130px;
    height: calc(100% - 70px);
    background-color: #f2f2f2;
    border-right: 1px solid #ddd;
    padding-top: 20px;
}

.sidebar a {  /*連結*/
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #ddd;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 垂直置中 */
    align-items: center; /* 水平置中 */
    height: calc(100vh - 70px); /* 減去 header 的高度 */
    margin-left: 50px; /* 預留 sidebar 空間 */
    padding-top: 30px; /* 防止內容與 header 重疊 */
    text-align: center;
}

.orders table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto; /* 讓表格水平置中 */
}

.orders th, .orders td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.orders th {
    background-color: #f4f4f4;
}

.orders button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.orders button a {
    color: white;
    text-decoration: none;
}

.orders button:hover {
    background-color: #0056b3;
}
