<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>定單紀錄</title>
</head>
<body>
    <nav class="sidebar">
        <a href="/delivery_home">狀態</a>
        <a href="">訂單</a>
        <a href="/delivery_record/{{staff.d_sid}}">已完成訂單</a>
    </nav>

    <h1>{{acc}}</h1>
    <h1>我完成的訂單</h1>
      <section class="my_table" >
        <table>
          <tr>
            <th>餐廳</th> 
            <th>金額</th>
          </tr>
          
          <tr>
            <th >{{ data.r_name }}</th>
            <th>$</tr>
        <hr/>
        </table></section>
        <hr/>
        
    <p></p>
    
    <h1></h1>
</body>