<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>前往取餐</title>
</head>
<body>
    <nav class="sidebar">
        <a href="/delivery_home">狀態</a>
        <a href="">訂單</a>
        <a href="/delivery_record/{{staff.d_sid}}">已完成訂單</a>
    </nav>

    <h1>{{acc}}</h1>
    <h1>訂單{{data.o_id}}</h1>
      <section class="my_table" >
        <table>
          <tr>
            <th>餐廳</th> 
            <th>地址</th>
            <th>連絡電話</th>
          </tr>
          
          <tr>
            <th >{{ restaurant.r_name }}</th>
            <th >{{ restaurant.r_addr }}</th>
            <th >{{ restaurant.r_phone }}</th>
            <th>
        </tr><hr/>
        </table></section>
        <hr/>
        <section><a href="/order_status/arrive/{{data.o_id}}/delivery/arrive/{{ staff.d_sid }}"><button style="background-color:rgb(255, 166, 166);">抵達店家</button></a></section>
    <p></p>
    
    <h1></h1>
</body>