<html>
    <head>

        <meta charset="utf-8">
        <title>Details</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <section>
            <h1>訂單詳細資訊</h1>
        </section>
        <hr/>
        <section class="button_middle">
            <a href="/restaurant_sell_list"><button style="background-color: lightblue;">&lt;--back to Sell List</button></a>
        </section>
        <section class="my_table" >
                <table >
            <tr>
                <th>品項</th> 
                <th>數量</th>
            </tr>
          {% for rec in data %}
            <tr>
                <th>{{rec.Dname}}</th>
                <th>{{rec.num}}</th>
            </tr>
          {% endfor %}
        </table>    
        </section>
    </body>
</html>