<html><head>
<meta charset="utf-8">
<title>Sell List</title>

<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Home Page</h1>
<hr />
<section>
  <a href="/sell_food"><button style="background-color:rgb(255, 166, 166);">上架食物清單</button></a>
</section>
<section class="my_table" >
  <table>
    <tr>
      <th>訂單編號</th> 
      <th>客戶名稱</th>
      <th>下單時間</th>
      <th>接單外送員</th>
      <th> 取參時間</th>
      <th> 訂單狀態</th>
    </tr>
    <tr>
      <th style="background-color: rgb(255, 186, 186);">111213026</th> 
      <th style="background-color: rgb(255, 186, 186);">日青</th>
      <th style="background-color: rgb(255, 186, 186);">11:55</th>
      <th style="background-color: rgb(255, 186, 186);">耳東</th>
      <th style="background-color: rgb(255, 186, 186);"> xxxxx</th>
      <th style="background-color: rgb(255, 186, 186);"> 未接單</th>
      <td ><button style="background-color:rgb(251, 88, 88)">確定接單</button></td>
    </tr>
    <tr>
      <th style="background-color: rgb(255, 186, 186);"></th> 
      <th style="background-color: rgb(255, 186, 186);"></th>
      <th style="background-color: rgb(255, 186, 186);"></th>
      <th style="background-color: rgb(255, 186, 186);"></th>
      <th style="background-color: rgb(255, 186, 186);"> </th>
      <th style="background-color: rgb(255, 186, 186);"> </th>
      <td ><button style="background-color:rgb(251, 88, 88)">確定接單</button></td>
    </tr>
    <tr>
      <th style="background-color:lightgoldenrodyellow">111213001</th> 
      <th style="background-color:lightgoldenrodyellow">子青</th>
      <th style="background-color:lightgoldenrodyellow">11:45</th>
      <th style="background-color:lightgoldenrodyellow">東東</th>
      <th style="background-color:lightgoldenrodyellow"> 12:05</th>
      <th style="background-color:lightgoldenrodyellow"> 未取餐</th>
      <td ><button style="background-color:rgb(245, 245, 128)">通知外送員</button></td>
    </tr>
    <tr>
      <th style="background-color: rgb(255, 186, 186);"></th> 
      <th style="background-color: rgb(255, 186, 186);"></th>
      <th style="background-color: rgb(255, 186, 186);"></th>
      <th style="background-color: rgb(255, 186, 186);"></th>
      <th style="background-color: rgb(255, 186, 186);"> </th>
      <th style="background-color: rgb(255, 186, 186);"> </th>
      <td ><button style="background-color:rgb(251, 88, 88)">確定接單</button></td>
    </tr>
    <tr>
      <th > 111213001</th> 
      <th >陳子</th>
      <th >11:55</th>
      <th >晴天</th>
      <th > 12:02</th>
      <th > 已取餐</th>
      <td ></td>
    </tr>
  </table>  
</section>
</body></html>

